<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashbaord-My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="icon" type="image/png" href="/images/Logo2.png" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <script src="/js/main.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body onload="startTime() || checktitle() ">

    <div class="nav">
        <a href="/distributor/dashboarddistributor">
            <span id="NavLogo"></span>
        </a>
        <span id="NavHelp">?</span>
         <div class="chip">
            {{sessionname}}
        </div>
        <span id="NavSignup">
            <a href="/logout">Logout</a>
        </span>
    </div>
    {{!-- iconbar --}}
    <div id="wrapprofile">
        <div class="icon-bar">
            <a class="iconprofile" id="active">
                <div class="iconprofileimage"></div>
            </a>
            <a class="icontop10" href="/distributor/top10">
                <div class="icontop10image"></div>
            </a>
            <a class="iconmycontent" href="/distributor/distributorcontent">
                <div class="iconmycontentimage"></div>
            </a>

            <a class="iconuploadcontent" href="/distributor/distributoruploadmovie">
                <div class="iconuploadcontentimage"></div>
            </a>
            <a class="iconhelp" href="#">
                <div class="iconhelpimage"></div>
            </a>
        </div>
        <div class="window">
            <div class="windowprofileheader">
                <span id="windowheaderlabel">Company Profile</span>
            </div>
            <span id="profilelabel1">Company ID:</span>
            <span id="profiletext1">{{sessionname}}</span>
            <span id="profilelabel2">Company name:</span>
            <span id="profiletext2">{{sessioncompanyname}}</span>
            <span id="profilelabel3">Location:</span>
            <span id="profiletext3">{{sessionlocation}}</span>
            <span id="profilelabel4">Company Email:</span>
            <span id="profiletext4">{{sessioncompanyemail}}</span>
              <a href="/distributor/distributorprofile/deleteaccount/{{sessiondistributorid}}">
                <button type="button" class="btn btn-primary" style="position: absolute; top: 350px; left: 30px;">
                    Delete Account
                </button>
            </a>
            <div class="windowprofilefooter"></div>
        </div>
    </div>






    <!-- Footer -->
    <div class="footer">
        <span id="FootHome"></span>
        <span id="FootTime"></span>
    </div>

</body>

</html>